[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.pyenv"]
	path = home/.pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
