# {{ ansible_managed }}

export ZSH=${ZDOTDIR:-$HOME}/.oh-my-zsh

ZSH_THEME="lukerandall"
COMPLETION_WAITING_DOTS="true"
ENABLE_CORRECTION="false"

plugins=(git python pip sudo docker kubectl aws)

source $ZSH/oh-my-zsh.sh
