# {{ ansible_managed }}

export ZSH=${ZDOTDIR:-$HOME}/.oh-my-zsh

ZSH_THEME="spaceship"
COMPLETION_WAITING_DOTS="true"
ENABLE_CORRECTION="false"
plugins=(
  django
  docker
  gitfast
  osx
  pip
  pyenv
  python
  sudo
  systemd
  tmuxinator
)

source $ZSH/oh-my-zsh.sh
