# {{ ansible_managed }}


SPACESHIP_PROMPT_ORDER=(
  time
  vi_mode
  user
  host
  dir
  git
  pyenv
  jobs
  exit_code
  line_sep
  char
)

# USER
SPACESHIP_USER_PREFIX=""
SPACESHIP_USER_SUFFIX=""
SPACESHIP_USER_SHOW="always"
SPACESHIP_USER_COLOR="037"

# HOST
SPACESHIP_HOST_SHOW="always"
SPACESHIP_HOST_SHOW_FULL="true"
SPACESHIP_HOST_PREFIX="@"
SPACESHIP_HOST_SUFFIX=" "
SPACESHIP_HOST_COLOR="031"

# DIR
SPACESHIP_DIR_PREFIX=""
SPACESHIP_DIR_TRUNC="3"
SPACESHIP_DIR_COLOR="105"

# GIT
# Disable git symbol
SPACESHIP_GIT_SYMBOL=""
SPACESHIP_GIT_BRANCH_PREFIX=""
SPACESHIP_GIT_PREFIX='git('
SPACESHIP_GIT_SUFFIX=") "
SPACESHIP_GIT_BRANCH_SUFFIX=""
SPACESHIP_GIT_STATUS_PREFIX=" "
SPACESHIP_GIT_STATUS_SUFFIX=""
SPACESHIP_GIT_BRANCH_COLOR="172"
SPACESHIP_GIT_STATUS_COLOR="196"

# PYENV
SPACESHIP_PYENV_PREFIX="py("
SPACESHIP_PYENV_SUFFIX=") "
SPACESHIP_PYENV_SYMBOL=""
SPACESHIP_PYENV_COLOR="172"

# KUBECTL
SPACESHIP_KUBECTL_SHOW="true"
SPACESHIP_KUBECTL_VERSION_SHOW="false"
SPACESHIP_KUBECONTEXT_SHOW="true"
