# {{ ansible_managed }}


# Dev folder selection. Will use $DEV_FOLDER as the base if it is set in the environment.
DEV=${DEV_FOLDER:-"$HOME/Development"}
dev() {

    # Work Projects
    if [[ "$1" == bu* ]]; then
        cd $DEV/Phobio/buzzsaw/
    elif [[ "$1" == ans* ]]; then
        cd $DEV/Phobio/buzzsaw-ansible/
    elif [[ "$1" == ter* ]]; then
        cd $DEV/Phobio/buzzsaw-terraform/

    # Personal Projects
    elif [[ "$1" == dot* ]]; then
        cd $DEV/Other/dotfiles
    elif [[ "$1" == pkg* ]]; then
        cd $DEV/Other/pkgbuilds

    # General Folders
    elif [[ "$1" == p* ]]; then
        cd $DEV/Phobio/
    elif [ "$1" = "o" ]; then
        cd $DEV/Other/
    elif [[ "$1" == g* ]]; then
        cd $DEV/GamersOutreach/
    else
        cd $DEV
    fi
}

# Edit with Atom
a() {
    # Open CWD
    if [[ -z "$1" ]]; then
        atom .
    # Open file/folder
    else
        atom $1
    fi
}

# Kubernetes
alias k="kubectl"
alias kctx="kubectx"
alias kns="kubens"

# SSH Database Tunnel
dbtun() {
    yellow="$(tput setaf 3)"
    blue="$(tput bold; tput setaf 4)"
    reset="$(tput sgr0)"
    ssh -N -L 3306:127.0.0.1:3306 $1 &
    echo ""
    echo "${yellow}==> ${blue}Connection to $1 open on 127.0.0.0:3306${reset}"
    echo "${yellow}==> ${blue}Close with ${reset}dbtun_close"
}

dbtun_close() {
    pid="$(jobs | grep -e "-L 3306" | cut -d '[' -f2 | head -c 1)"
    kill %${pid}
}
