### Work related stuff

dev() {
    # Phobio Projects
    if [[ "$1" == bu* ]]; then
        cd /Users/rew1red/Development/Phobio/buzzsaw/
    elif [[ "$1" == car* ]]; then
        cd /Users/rew1red/Development/Phobio/carbon/

    # F7Lans Projects
    elif [[ "$1" == bl* ]]; then
        cd /Users/rew1red/Development/F7Lans/blackflag/

    # Gamers Outreach Projects
  elif [[ "$1" == he* ]]; then
        cd /Users/rew1red/Development/GamersOutreach/headcrab/

    # General Folders
    elif [ "$1" = "l" ]; then
        cd /Users/rew1red/Development/LANFest/
    elif [ "$1" = "p" ]; then
        cd /Users/rew1red/Development/Phobio/
    elif [ "$1" = "o" ]; then
        cd /Users/rew1red/Development/Other/
    elif [ "$1" = "f" ]; then
        cd /Users/rew1red/Development/F7Lans/
    elif [ "$1" = "g" ]; then
        cd /Users/rew1red/Development/GamersOutreach/
    else
        cd /Users/rew1red/Development/
    fi
}

scrb() {
    # Work on Buzzsaw
    screen -dmS buzzsaw -t buzzsaw
    screen -S buzzsaw -X screen -t runserver
    screen -S buzzsaw -X screen -t rq-worker

    screen -S buzzsaw -p buzzsaw -X stuff "`printf "dev buzzsaw\r"`"
    screen -S buzzsaw -p runserver -X stuff "`printf "dev buzzsaw\r python manage.py runserver 8000 --settings=buzzsaw.settings_local\r"`"
    screen -S buzzsaw -p rq-worker -X stuff "`printf "dev buzzsaw\r python manage.py rqworker high default low --settings=buzzsaw.settings_local\r"`"

    screen -dRR buzzsaw -p buzzsaw
}

scrf7() {
    # Work on Black Flag
    screen -dmS blackflag -t blackflag
    screen -S blackflag -X screen -t runserver
    screen -S blackflag -X screen -t rq-worker

    screen -S blackflag -p blackflag -X stuff "`printf "dev blackflag\r"`"
    screen -S blackflag -p runserver -X stuff "`printf "dev blackflag\r python manage.py runserver 8000\r"`"
    screen -S blackflag -p rq-worker -X stuff "`printf "dev blackflag\r python manage.py rqworker high default\r"`"

    screen -dRR blackflag -p blackflag
}

scrh() {
    # Work on Headcrab
    screen -dmS headcrab -t headcrab
    screen -S headcrab -X screen -t runserver
    screen -S headcrab -X screen -t rq-worker

    screen -S headcrab -p headcrab -X stuff "`printf "dev headcrab\r"`"
    screen -S headcrab -p runserver -X stuff "`printf "dev headcrab\r python manage.py runserver 8000\r"`"
    screen -S headcrab -p rq-worker -X stuff "`printf "dev headcrab\r python manage.py rqworker high default\r"`"

    screen -dRR headcrab -p headcrab
}

# Import Buzzsaw Database
bimport() {
    echo "Dropping old database..."
    mysql -uroot -e 'DROP DATABASE buzzsaw; CREATE DATABASE buzzsaw;'
    echo "Importing SQL backup..."
    pv -cN "Import Progress" "$1" | gunzip | mysql -uroot buzzsaw
}

# Knife
alias krff='knife role from file roles/*'
alias kdbu='knife data bag from file users data_bags/users'

# Screen
alias scls="screen -ls"
alias scr="screen -dRR"
# Attaches to a screen session. If the session is attached elsewhere, detaches that other display. If no session exists, creates one. If multiple sessions exist, uses the first one.

# MTR
alias mtr='sudo /usr/local/sbin/mtr'

# PS
alias psx="ps aux"
alias psg="ps aux | grep "
alias htop="sudo htop"

# Show human friendly numbers and colors
alias ls='ls -AFhG'
alias ll='ls -l'
alias du='du -h -d 2'

# NPM ls at one depth
alias npmls='npm ls --depth=0'

# Moving around
cd() { builtin cd $@ && ls }

# show me files matching "ls grep"
alias lsg='ll | grep'

# Start and stop things with Lunchy
alias stop='lunchy stop'
alias start='lunchy start -f'
alias status='lunchy status'
alias dstart='lunchy start -f percona; lunchy start -f redis'
alias dstop='lunchy stop percona; lunchy stop redis'

# Common shell functions
alias less='less -r'
alias tf='tail -f'
alias l='less'
alias lh='ls -alt | head' # see the last modified files
alias screen='TERM=screen screen'
alias cl='clear'

# Zipping
alias gz='tar -czvf'
alias uz='tar -xzvf'

alias ka9='killall -9'
alias k9='kill -9'
