# Docker
alias d='docker'
alias dc='docker-compose'
alias dcr='docker-compose run'
alias pm='docker-compose run app ./manage.py'

# Knife
alias kru='knife role from file roles/*'
alias keu='knife environment from file environments/*'
alias kcu='knife cookbook upload --all'
alias knd='knife node delete -y'
alias kcd='knife client delete -y'
alias kdbu='knife data bag from file users data_bags/users'

# Screen
alias scls="screen -ls"
alias scr="screen -dRR"  # Attaches to a screen session. If the session is attached elsewhere, detaches that other display. If no session exists, creates one. If multiple sessions exist, uses the first one.
alias scrc="screen -c .screenrc"  # Launch screen with local screenrc

# PS
alias psx="ps aux"
alias psg="ps aux | grep "
alias htop="sudo htop"

# Show human friendly numbers and colors
alias ls='ls -AFhG'
alias ll='ls -l'
alias du='du -h -d 2'

# NPM ls at one depth
alias npmls='npm ls --depth=0'

# List files matching
alias lsg='ll | grep'

# Common shell functions
alias less='less -r'
alias tf='tail -f'
alias l='less'

# Zipping
alias gz='tar -czvf'
alias uz='tar -xzvf'

alias ka9='killall -9'
alias k9='kill -9'

# MTR
if [[ "`uname`" == 'Darwin' ]]; then
    alias mtr='sudo /usr/local/sbin/mtr'
fi

# Dev folder selection. Will use $DEV_FOLDER as the base if it is set in the environment.
DEV=${DEV_FOLDER:-" /Users/winston/Development"}
dev() {

    # Work Projects
    if [[ "$1" == bu* ]]; then
        cd $DEV/Phobio/buzzsaw/
    elif [[ "$1" == che* ]]; then
        cd $DEV/Phobio/buzzsaw-chef/
    elif [[ "$1" == ter* ]]; then
        cd $DEV/Phobio/buzzsaw-terraform/

    # General Folders
    elif [[ "$1" == p* ]]; then
        cd $DEV/Development/Phobio/
    elif [ "$1" = "o" ]; then
        cd $DEV/Other/
    elif [[ "$1" == g* ]]; then
        cd $DEV/GamersOutreach/
    else
        cd $DEV
    fi
}

# Import Buzzsaw Database
bimport() {
    echo "Dropping old database..."
    mysql -h 127.0.0.1 -uroot -e "DROP DATABASE ${2:-buzzsaw}; CREATE DATABASE ${2:-buzzsaw};"
    echo "Importing SQL backup..."
    pv -cN "Import Progress" "$1" | gunzip | mysql -h 127.0.0.1 -uroot "${2:-buzzsaw}"
}
