export EDITOR="vim"
export ZSTD_NBTHREADS="0"
export ZSTD_CLEVEL="12"
export XZ_DEFAULTS="-T 0"
{{- if eq .chezmoi.os "darwin" }}
export MYSQLCLIENT_CFLAGS="-I/opt/homebrew/opt/mysql-client@8.4/include/mysql"
export MYSQLCLIENT_LDFLAGS="-L/opt/homebrew/opt/mysql-client@8.4/lib -lmysqlclient"
{{- end }}
