#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

Host *
    ForwardAgent no
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    HostkeyAlgorithms +ssh-dss,ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-dss,ssh-rsa
    KexAlgorithms +diffie-hellman-group1-sha1
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc,aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc
    IdentityFile ~/.ssh/id_rsa_personal
