#jinja2: lstrip_blocks: True
# {{ ansible_managed }}


Host *
    ForwardAgent yes
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_ed25519_personal
    IdentityFile ~/.ssh/id_rsa_personal

{% for host in ssh_host_config %}
Host {{ host.name }}
{% if host.hostname is defined %}
    HostName {{ host.hostname }}
{% endif %}
{% if host.user is defined %}
    User {{ host.user }}
{% endif %}
{% if host.port is defined %}
    Port {{ host.port }}
{% endif %}
{% if host.hostkeyalgorithms is defined %}
    HostkeyAlgorithms {{ host.hostkeyalgorithms }}
{% endif %}
{% if host.pubkeyacceptedkeytypes is defined %}
    PubkeyAcceptedKeyTypes {{ host.pubkeyacceptedkeytypes }}
{% endif %}
{% if host.kexalgorithms is defined %}
    KexAlgorithms {{ host.kexalgorithms }}
{% endif %}
{% if host.ciphers is defined %}
    Ciphers {{ host.ciphers }}
{% endif %}
{% if host.identity_file is defined %}
    IdentityFile {{ host.identity_file }}
{% endif %}
{% if host.proxy_jump is defined %}
    ProxyJump {{ host.proxy_jump }}
{% endif %}

{% endfor %}
