# {{ ansible_managed }}


export EDITOR="vim"
export ZSTD_NBTHREADS="0"
export ZSTD_CLEVEL="12"
export XZ_DEFAULTS="-T 0"

export RESTIC_PASSWORD="{{ restic_password }}"
export RESTIC_REPOSITORY="{{ restic_repository }}"
export B2_ACCOUNT_ID="{{ backblaze_account_id }}"
export B2_ACCOUNT_KEY="{{ backblaze_account_key }}"
