# {{ ansible_managed }}

[advice]
    statusHints = false

[alias]
    a = add                           # add
    b = branch -vv                    # branch (verbose)
    br = branch -rv                   # branch (remote)
    c = commit -m                     # commit with message
    ca = commit -am                   # commit all with message
    amend = commit --amend            # ammend your last commit
    ammend = commit --amend           # ammend your last commit
    co = checkout                     # checkout
    nb = checkout -b                  # create and switch to a new branch (mnemonic: "git new branch branchname...")
    cp = cherry-pick -x               # grab a change from a branch
    d = diff                          # diff unstaged changes
    dt = difftool                     # diff unstaged changes with difftool
    dc = diff --cached                # diff staged changes
    pl = pull --rebase                # pull
    fo = fetch origin                 # fetch origin
    fu = fetch upstream               # fetch upstream
    ps = push                         # push
    rc = rebase --continue            # continue rebase
    rs = rebase --skip                # skip rebase
    r = remote -v                     # show remotes (verbose)
    unstage = reset HEAD              # remove files from index (tracking)
    uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
    mt = mergetool                    # fire up the merge tool
    ss = stash -u                     # stash changes
    sl = stash list                   # list stashes
    sa = stash apply                  # apply stash (restore changes)
    sd = stash drop                   # drop stashes (destory changes)
    sp = stash pop                    # apply stash and drop
    s = status                        # status
    t = tag -n                        # show tags with <n> lines of each tag message
    l = log --graph --date=short
    changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
    short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
    cl = log --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s\" --abbrev-commit --date=relative
    changelog = log --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s\" --abbrev-commit --date=relative

[apply]
    whitespace = nowarn

[branch]
    autosetupmerge = true

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[commit]
    gpgsign = true

[core]
    autocrlf = false
    editor = vim
    excludesfile = ~/.gitignore

[diff]
    mnemonicprefix = true
    algorithm = patience

[difftool]
    prompt = false

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[fetch]
    prune = true
    pruneTags = true

[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[merge]
    summary = true
    verbosity = 1
    tool = mvimdiff

[mergetool]
    prompt = false

[mergetool "mvimdiff"]
    cmd="mvim -c 'Gdiff' $MERGED"
    keepbackup=false

[pager]
    branch = false

[push]
    default = upstream

[rerere]
    enabled = true

[status]
    submodulesummary = true

[user]
    name = {{ git_name }}
    email = {{ git_email }}
    {% if git_signing_key %}signingkey = {{ git_signing_key}}{% endif %}
