# {{ ansible_managed }}


# -- general -------------------------------------------------------------------

set -g default-terminal "screen-256color"
setw -g xterm-keys on
set -s escape-time 10
set -sg repeat-time 600
set -s focus-events on
set -g prefix2 C-a
bind C-a send-prefix -2
set -g mouse on
set -g history-limit 10000


# -- display -------------------------------------------------------------------

set -g allow-rename off
set -g set-titles on


# -- navigation ----------------------------------------------------------------

# split panes using characters with better visual representation and use current path
bind | split-window -h -c '#{pane_current_path}'
bind - split-window -v -c '#{pane_current_path}'

# use the current pane's path in the new window
bind c new-window -c '#{pane_current_path}'

# quick pane cycling
unbind A
bind A select-pane -t :.+

# select next window
unbind Space
bind Space select-window -n

# kill session
bind k confirm-before "kill-session"
